/* Estilo o formulário */
form {
    max-width: 800px;
    margin: 0;
}

/* Estilo para as labels */
label {
    display: block;
    margin-bottom: 1px; /* margem inferior */
    margin-top: 8px; /* margem superior */
    font-weight: bold; /* Adicionar negrito */
    color: #007bff; /* Alterar a cor para azul */
}

/* Estilo para os input */
input {
    width: 100%;
    padding: 2px;
    margin-bottom: 8px; /* margem inferior */
    margin-top: 1px; /* margem superior */
    box-sizing: border-box;
}

/* Estilo para os botões */
input[type="submit"],
input[type="button"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #45a049;
}

/* Estilo para botões */
.button-style {
    display: inline-block;
    text-decoration: none;
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-style:hover {
    background-color: #45a049;
}

/* Estilo para a mensagem de erro */
.error-message {
    color: #ff0000;
    margin-bottom: 16px;
}

/* Estilo para a mensagem de sucesso */
.success-message {
    color: #008000;
    margin-bottom: 16px;
}

/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

/* Estilo para as células da tabela */
td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Estilo para a primeira linha da tabela (cabeçalho) */
th {
    background-color: #999b99;
    color: white;
}

/* Estilo para as linhas alternadas da tabela */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo para as células quando o rato passa sobre as celulas */
tr:hover td {
    background-color: #e0e0e0;
}

/* Estilo para a tabela dentro de um div */
#divTabela {
    overflow-x: auto;
}